/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
}

/* Navigation Bar */
nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    height: 70px;
}

.logo-img {
    height: 50px;
    width: auto;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    color: white;
    font-size: 30px;
    display: block;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 20px;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        transition: all 0.5s;
    }
}


/* Button and Form */
.settings {
    text-align: center;
    font-size: larger;
    line-height: 1.8;
    font-weight:bold;
    padding: 20px;
    border: 2px solid black;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

button {
  background-color: #004274;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Footer */
footer {
    margin-top: 40px;
    padding: 10px;
    background: #004274;
    color: white;
}